.App,.row1{margin-left: -173px;
    margin-right: -174px;background-color: aquamarine;
}
.bg,.d-flex{color:rgb(39, 102, 136)}
.hello{background-color: rgb(75, 178, 161);padding: 1px 1px 1px 1px;}
.d-flex{background-color:rgb(78, 133, 162)}
.mb-2{color: white;}
.browse{background-color: rgb(68, 135, 135);}
